.textBox {
  position: absolute;
  top: 20%;
  left: 8%;
  color: #f5e1d5;
  animation: slideDown 1.2s ease-out forwards;
  opacity: 0;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tagline {
  font-family: "Dancing Script", cursive;
  font-size: 38px;
  font-weight: 400;
  color: #d4a26a;
  letter-spacing: 4px;
  text-transform: lowercase;
  margin-bottom: 12px;
  opacity: 0.9;
}

.tagline {
  text-shadow: 0px 2px 6px rgba(212, 162, 106, 0.4);
}


.title {
  font-size: 75px;
  font-weight: 700;
  line-height: 1.05;
  margin: 0;
  position: relative;
}

.lastLine {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.heroIcon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.heroIcon {
  width: 80px;
  height: 80px;
  margin-left: 15px;
  border-radius: 50%;
  vertical-align: middle;
}

.heroBtn {
  margin-top: 30px;
  padding: 12px 30px;
  border: 1px solid #d5a275;
  background: transparent;
  color: #d5a275;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  text-transform: uppercase;
}

.heroBtn:hover {
  background: #d5a275;
  color: #000;
}



@media (max-width: 1200px) {
  .title {
    font-size: 50px;
  }

  .textBox {
    position: absolute;
    top: 18%;
    left: 8%;
    color: #f5e1d5;
    animation: slideDown 1.2s ease-out forwards;
    opacity: 0;
  }

  .heroIcon {
    width: 55px;
    height: 55px;
  }

  .lastLine {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
}

/* tablet */
@media (max-width: 768px) {
  .textBox {
    top: 25%;
    left: 9%;
  }

  .tagline {
    font-size: 18px;

  }

  .title {
    font-size: 30px;
    line-height: 1.2;
  }

  .heroIcon {
    width: 30px;
    height: 30px;
  }

  .heroBtn {
    padding: 10px 18px;
    font-size: 14px;
  }

  .lastLine {
    display: inline-flex;
    align-items: center;
    gap: 0px;
  }
}

/*M0bile */
/*Mobile */
@media (max-width: 568px) {
  .textBox {
    top: 25%;
    left: 8%;
    bottom: -25%;
  }

  .tagline {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 25px;
    line-height: 1.19;
    margin-bottom: 10px;
  }

  .lastLine {
    margin-bottom: 10px;
  }

  .heroBtn {
    margin-top: 6px;
    padding: 8px 18px;
    font-size: 12px;
  }

  .heroIcon {
    width: 20px;
    height: 20px;
  }

}

@media (max-width: 468px) {
  .textBox {
    top: 25%;
    left: 8%;
    bottom: -25%;
  }

  .tagline {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .title {
    font-size: 20px;
    line-height: 1.19;
    margin-bottom: 8px;
  }

  .lastLine {
    margin-bottom: 8px;
  }

  .heroBtn {
    margin-top: 3px;
    padding: 8px 18px;
    font-size: 8px;
  }

  .heroIcon {
    width: 20px;
    height: 20px;
  }

}

@media (max-width: 350px) {
  .textBox {
    top: 30%;
    left: 8%;
    bottom: -25%;
  }

  .tagline {
    font-size: 10px;
    margin-bottom: 6px;
  }

  .title {
    font-size: 15px;
    line-height: 1.19;
    margin-bottom: 6px;
  }

  .lastLine {
    margin-bottom: 6px;
  }

  .heroBtn {
    margin-top: 2px;
    padding: 6px 18px;
    font-size: 6px;
  }

  .heroIcon {
    width: 20px;
    height: 20px;
  }

}