.openingContainer {
    background-color: #111214;
    /* #0a132e; */
    position: relative;
    overflow: hidden;
    
}

.openingContent {
    padding: 70px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  
}

.infoBox {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.heading {
    color: white;
    margin: 0;
}

.text {
    color: #ffffff99;
    margin: 0;
}

.flowerShape {
    position: absolute;
    top: 125%;
    left: 40%;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 1300px) {
    .flowerShape {
        position: absolute;
        top: 5%;
        left: 30%;
        z-index: 50;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 900px) {
   .openingContent {
    padding: 70px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  
}

}





@media (max-width: 768px) {
    .openingContent {
        flex-direction: column;
        gap: 40px;
        text-align: center;
        justify-content: space-around !important;
    }

    .icon {
        width: 50px !important;
        height: 50px !important;
    }

    .flowerShape {
        top: 60%;
        left: 25%;
    }

    .infoBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:4px !important;
    }
     .icon {
        width: 70px;
        height: auto;
    }

    .openingContainer {
        height: 390px !important;
    }

    

   
}


@media (max-width: 480px) {
    .icon {
        width: 60px;
        height: 60px;
    }

    .heading {
        font-size: 18px;
    }

    .text {
        font-size: 14px;
    }

    .flowerShape {
        top: 35%;
        left: 16%;
    }
}

.icon {
    width: 60px;
    /* adjust size as you like — try 30px, 35px, etc. */
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.05);
    /* subtle hover effect */
}

