.aboutContainer {
  background-color: #f8f5f0;
  padding: 80px 254px 80px 128px !important;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.aboutImage {
  width: 50%;
  max-width: 680px;
  height: auto;
}

.aboutContent {
  max-width: 700px !important;
  display: flex !important;
  flex-direction: column;
  gap: 1;
}


.aboutus {
  font-size: 18px !important;
  padding-left: 39px !important;
  display: inline-block !important;
  color: #f68043 !important;
  font-weight: 400 !important;
  margin: 0 0 17px !important;
  font-family: "Carattere", cursive !important;
  margin-left: -40px !important;
}

.pursuit {
  font-size: 35px !important;
  font-weight: 900 !important;
  color: black !important;
}

.description {
  line-height: 30px;

  color: #8b8b8b;
  font-size: 18px !important;
}


.featuresRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.featureItem {
  display: flex;
  gap: 12px;
  align-items: center;
}

.featureItem p {
  margin: 0;
  text-align: center;
  margin-top: 20px;
  color: #333;
}


@media (max-width:1911px) {
  .aboutContainer {
    background-color: #f8f5f0;
    padding: 80px 128px 80px 128px !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 250px !important;
    flex-wrap: wrap;
  }

  .aboutImage {
    width: 50%;
    max-width: 680px;
    height: auto;
  }

  .aboutContent {
    max-width: 600px !important;
    display: flex !important;
    flex-direction: column;
    gap: 1;
  }


  .aboutus {
    font-size: 18px !important;
    padding-left: 39px !important;
    display: inline-block !important;
    color: #f68043 !important;
    font-weight: 400 !important;
    margin: 0 0 17px !important;
    font-family: "Carattere", cursive !important;
    margin-left: -40px !important;
  }

  .pursuit {
    font-size: 35px !important;
    font-weight: 900 !important;
    color: black !important;
  }

  .description {
    line-height: 30px;

    color: #8b8b8b;
    font-size: 18px !important;
  }


  .featuresRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .featureItem {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .featureItem p {
    margin: 0;
    text-align: center;
    margin-top: 20px;
    color: #333;
  }

}

@media (max-width:1786px) {
  .aboutContainer {
    background-color: #f8f5f0;
    padding: 80px 128px 80px 128px !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 120px !important;
    flex-wrap: wrap;
  }

  .aboutImage {
    width: 50%;
    max-width: 680px;
    height: auto;
  }

  .aboutContent {
    max-width: 500px !important;
    display: flex !important;
    flex-direction: column;
    gap: 1;
  }




}

@media (max-width:1535px) {

  .aboutContainer {
    background-color: #f8f5f0;
    padding: 80px 100px 80px 128px !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 80px !important;
    flex-wrap: wrap;

  }

  .aboutImage {
    margin-top: 20px !important;
    width: 50% !important;

    max-width: 680px;
    height: auto;

  }

  .aboutContent {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 4px !important;
  }

  .aboutus {
    font-size: 18px !important;
    padding-left: 39px !important;
    display: inline-block !important;
    color: #f68043 !important;
    font-weight: 400 !important;
    margin: 0 0 17px !important;
    font-family: "Carattere", cursive !important;
    margin-left: -40px !important;
  }

  .pursuit {
    font-size: 28px !important;
    font-weight: 900 !important;
    color: black !important;
  }

  .description {
    line-height: 25px;

    color: #8b8b8b;
    font-size: 16px !important;
  }


  .featuresRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .featureItem {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .featureItem p {
    margin: 0;
    text-align: center;
    margin-top: 20px;
    color: #333;
  }


}




@media (max-width: 1400px) {
  .aboutContainer {
    background-color: #f8f5f0;
    padding: 80px 50px 80px 122px !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px !important;
    flex-wrap: wrap;

  }

  .aboutImage {
    margin-top: 20px !important;
    width: 45% !important;

    max-width: 680px;
    height: auto;

  }

  .aboutContent {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 4px !important;
  }

  .aboutus {
    font-size: 18px !important;
    padding-left: 39px !important;
    display: inline-block !important;
    color: #f68043 !important;
    font-weight: 400 !important;
    margin: 0 0 17px !important;
    font-family: "Carattere", cursive !important;
    margin-left: -40px !important;
  }

  .pursuit {
    font-size: 25px !important;
    font-weight: 900 !important;
    color: black !important;
  }

  .description {
    line-height: 22px;

    color: #8b8b8b;
    font-size: 16px !important;
  }


  .featuresRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .featureItem {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .featureItem p {
    margin: 0;
    text-align: center;
    margin-top: 20px;
    color: #333;
  }

}



@media (max-width:1220px) {

  .aboutContainer {
    background-color: #f8f5f0;
    padding: 80px 50px 80px 122px !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 90px !important;
    flex-wrap: wrap;

  }

  .aboutImage {
    margin-top: 20px !important;
    width: 35% !important;

    max-width: 580px;
    height: auto;

  }

  .aboutContent {
    max-width: 450px !important;
    display: flex;
    flex-direction: column;
    gap: 0px !important;
  }


  .aboutus {
    font-size: 18px !important;
    padding-left: 36px !important;
    display: inline-block !important;
    color: #f68043 !important;
    font-weight: 400 !important;
    margin: 0 0 17px !important;
    font-family: "Carattere", cursive !important;
    margin-left: -40px !important;
  }

  .pursuit {
    font-size: 22px !important;
    font-weight: bolder !important;
    color: black;
  }


  .description {
    line-height: 20px;
    margin: 1px 0 0 0 !important;
    color: #8b8b8b;
  }


  .featuresRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  .featureItem {

    display: flex;
    gap: 10px;
    align-items: center;
  }

  .featureItem p {
    margin: 0;
    text-align: center;
    margin-top: 20px;
    color: #333;

  }

  .premium {
    font-size: 15px !important;
  }

  .image {
    width: 3rem !important
  }
}

@media (max-width:1010px) {

  .aboutContainer {
    background-color: #f8f5f0;
    padding: 80px 10px 80px 122px !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px !important;
    flex-wrap: wrap;

  }

  .aboutImage {
    margin-top: 20px !important;
    width: 35% !important;

    max-width: 580px;
    height: auto;

  }

  .aboutContent {
    max-width: 450px !important;
    display: flex;
    flex-direction: column;
    gap: 0px !important;
  }


  .aboutus {
    font-size: 18px !important;
    padding-left: 36px !important;
    display: inline-block !important;
    color: #f68043 !important;
    font-weight: 400 !important;
    margin: 0 0 17px !important;
    font-family: "Carattere", cursive !important;
    margin-left: -40px !important;
  }

  .pursuit {
    font-size: 16px !important;
    font-weight: bolder !important;
    color: black;
  }


  .description {
    line-height: 20px;
    margin: 1px 0 0 0 !important;
    color: #8b8b8b;
    font-size: 14px !important;
  }

  .image {
    width: 40px !important;
    height: 40px !important
  }

  .featuresRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  .featureItem {

    display: flex;
    gap: 10px;
    align-items: center;
  }

  .featureItem p {
    margin: 0;
    text-align: center;
    margin-top: 20px;
    color: #333;

  }

  .premium {
    font-size: 13px !important;
  }
}

@media (max-width: 905px) {
  .aboutContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    padding-left: 33px !important;
    padding-right: 33px !important;
  }

  .aboutImage {
    display: block;
    margin: 0 auto !important;
    padding: 0 !important;
    width: 100% !important;
  }

  .aboutus {
    padding-left: 0 !important;
    text-align: center;
  }

  .aboutContent {
    max-width: 90%;
  }

  .pursuit h3 {
    font-size: 22px !important;
    text-align: center;
  }

  .description {
    text-align: center;
  }

  .featuresRow {
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .featureItem {
    justify-content: center;
  }

  .premium {
    justify-content: center !important;
    font-size: 20px !important;
  }
}


@media (max-width: 480px) {
  .aboutContainer {
    padding: 40px 10px;
  }

  .aboutus {
    padding-left: 0 !important;
    font-size: 16px !important;
    text-align: center;
  }

  .pursuit h3 {
    font-size: 28px !important;
    text-align: center;
    line-height: 1.3;
  }

  .description {
    font-size: 14px;
    text-align: center;
  }

  .featureItem img {
    width: 40px;
    height: 40px;
  }

  .featureItem p {
    font-size: 13px;
    margin-top: 10px;
  }

  .premium {
    justify-content: center !important;
    font-size: 16px !important;
  }
}

@media (max-width: 810px) {

  .featureItem img {
    width: 45px;
    height: 45px;
  }

  .featureItem p {
    font-size: 15px;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {

  .featuresRow {
    display: flex;
    justify-content: center;
  }


}

@media (max-width: 737px) {

  .premium {

    justify-content: center;
  }


}