.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 0 58px !important;
  height: 65px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

}

.logo {
  background-color: #000;
  font-size: 30px !important;
  font-weight: 700 !important;
  color: #2d2d2d;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none !important;
  color: white !important;
}

.logo:hover {
  transform: scale(1.05);
}

.right {
  display: flex;
  gap: 40px;
  align-items: center;
}

.link {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: white !important;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  text-decoration: none !important;
}

.link:hover {
  color: #f68043 !important;
  transform: translateY(-2px);
}

.loginBtn {
  background-color: #eea751 !important;
  color: #fff !important;
  padding: 4px 12px !important;
  border-radius: 20px !important;
  font-size: 13px !important;
  text-transform: none !important;
  font-weight: 500 !important;
  transition: background-color 0.3s ease, transform 0.3s ease !important;
}

.loginBtn:hover {
  background-color: #fff !important;
  color: #f68043 !important;
  border: 1px sloid #f68043 !important;
  transform: translateY(-2px);
}

.hamburger {
  display: none !important;
  padding: 0;
  margin: 0;
}



@media screen and (max-width: 768px) {
  .hamburger {
    display: block !important;
    padding: 0;
  margin: 0;
  }

  .logo {
    font-size: 20px !important;
  }

  .link {
    font-size: 19px !important;
  }

  .right {
    display: none;
    gap: 10px;
    align-items: center;
  }

  .loginBtn {
    padding: 3px 10px !important;
    border-radius: 15px !important;
    font-size: 11px !important;

  }

  .navbar {
    padding: 0 22px !important;

  }

}

@media screen and (max-width: 328px) {
  .logo {
    font-size: 15px !important;
  }

  .link {
    font-size: 15px !important;
  }




  .navbar {
    padding: 0 20px !important;

  }

}