.images {
  height: 410px;          
  object-fit: cover;       
  width: 100%;             
}

@media screen and (max-width: 768px) {
  .images {
    height: 200px;        
    object-fit: cover;     
  }
}
