.button {
  display: flex;
  justify-content: flex-end;
  gap: 8px;


}

.addService {
  background-color: #eea84f !important;
  color: white !important;
  font-weight: 600 !important;
  border-radius: 30px !important;
  text-transform: none !important;
  padding: 10px 25px !important;
  transition: all 0.3s ease-in-out !important;
  box-shadow: 0 4px 10px rgba(238, 168, 79, 0.4) !important;
  display: flex !important;
  align-items: center !important;
  gap: 6px !important;
  border: none !important;
  margin-top: -1px !important;
  
}

.addService:hover {
  background-color: #d99436 !important;
  box-shadow: 0 6px 15px rgba(238, 168, 79, 0.6) !important;
  transform: translateY(-2px) !important;
}

@media screen and (max-width: 1150px) {
  .addService {
    width: 55% !important;
    padding: 8px 0 !important;
    font-size: 14px !important;
    border-radius: 25px !important;
    justify-content: center !important;
    
  }
}

@media screen and (max-width: 1668px) {
  .addService {
    margin-top: 1px !important;
  }
}

@media screen and (max-width: 768px) {
  .button {
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }

  .title :global(.MuiInputBase-root) {
    width: 100%;
  }


}
@media screen and (max-width: 480px) {
    .addService {
   width: 250px !important;
  }
}