.chooseSection {
  width: 100%;
  color: #8b8b8b;
  padding: 101px 0 !important;
  position: relative;
  display: flex !important;
  justify-content: space-between !important;
  margin: 60px 60px !important;
  padding: 40px 30px !important;
  flex-wrap: wrap !important;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* -------- Left Image Section -------- */
.imageContainer {
  position: relative;
  flex: 1 1 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallImage {
  position: absolute;
  top: 200px;
  left: 15px;
  z-index: 10;
  animation: floatMove 3s ease-in-out infinite;
}

@keyframes floatMove {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.mainImage {
  margin-left: 70px;
  position: relative;
  z-index: 1;
  max-width: 100%;
  height: auto;
}

/* -------- Right Text Section -------- */
.textContainer {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  flex: 1 1 45%;
}

.subHeading {
  color: #f68043;
   font-family: "Carattere", cursive !important;
}

.mainHeading {
  font-size: 35px;
  color: black;
  font-weight: bolder;
  max-width: 600px;
}


.featureBox {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  gap: 14px;
  background-color: #f8f5f0;
  padding: 22px;
  border-radius: 10px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: bolder;
  color: black;
  width: 200px !important;
}


.feature img {
  width: 18px;
  height: 18px;
}

.statsContainer {
  display: flex;
  max-width: 500px;
  gap:20px;
  flex-wrap: wrap;

}

.statBox {
  display: flex;
  gap: 16px;
  align-items: center;

}

.statTitle {
  color: black;
  font-weight: bolder;
}

.statSubtitle {
  color: black;
  font-weight: bolder;
}


@media (max-width: 1350px) {
  .chooseSection {
    justify-content: center !important;
    align-items: center !important;
    height: auto !important;
    gap: 38px !important;
    margin: 0 auto !important;
    padding: 60px 20px !important;
  }

  .mainImage {
    margin-left: 0 !important;
    max-width: 90%;
  }

  .smallImage {
    width: 40% !important
  }


  .mainHeading {
    font-size: 22px !important;
  }

  .featureBox {
    justify-content: center !important;
  }

  .smallImage {
    left: 35px !important;
    top: 100px !important;
    width: 100px !important;
  }

  .statsContainer {
    gap: 20px;
  }
}

@media (max-width: 1020px) {
  .statsContainer {
    gap: 12px !important
  }

  .statBox {
    display: flex;
    gap: 6px !important;
    align-items: center;
  }

  .tradeImage {
    width: 40px !important;
    height: 40px !important
  }

  .number {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  .statTitle {
    font-size: 18px !important;
    font-weight: 600 !important;
   
  }

  .featureBox {
    padding: 10px !important;
    padding-left: 1.5px !important;
    padding-right: 1.5px !important;
    gap: 1;
    font-weight: 300 !important;
  }

}

@media (max-width: 870px) {
  .statsContainer {

    
    gap: 28px !important;
  }

  .statBox {
    display: flex;

    gap: 10px !important;
    align-items: center;
  }

  .tradeImage {
    width: 30px !important;
    height: 30px !important
  }

  .number {

    font-size: 18px !important;
    font-weight: 800 !important;
  }

  .statTitle {
    font-size: 18px !important;
    font-weight: 800 !important;
  }
  .statSubtitle{
    font-size: 12px !important;
  }
}


/* Mobile */
@media (max-width: 788px) {


  .imageContainer {
    flex: 1 1 100%;
    justify-content: center !important;
    align-items: center !important;

  }

  .textContainer {
    flex: 1 1 100%;
    align-items: center;
    text-align: center;
    gap: 25px !important
  }

  .mainHeading {
    font-size: 22px !important;
    max-width: 100%;
  }

  .statsContainer {
    
    align-items: center;
    gap: 30px;
  }

  .mainImage {
    width: 90%;
    height: auto;
  }

  .smallImage {
    top: 160px !important;
    left: 40px !important;
    width: 60px !important;
  }

  .chooseSection {
    margin-right: 60px !important;

  }

}

@media (min-width:680px) and (max-width: 788px) {
  .imageContainer {
    flex: 1 1 100%;
    justify-content: center !important;
    align-items: center !important;
    left: 7%
  }
}
@media (max-width:380px){
   .statsContainer {
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}