.mainBox {
    display: flex !important;
    justify-content: space-between !important;
    padding: 101px 90px;
    align-items: center;
    gap: 40px;
}


.left,
.right {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* MIDDLE SWIPER AREA */
.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 20px;
    max-width: 900px;
    background-image: url('../../../public/teasti-bg.png');
    background-size: cover;
    background-position: center;
}

/* TEXT */
.p {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.9;
    font-size: 22px;
    color: #7e7e7e;
    font-weight: 500;
    padding: 10px 20px;
    font-style: italic;
}

.juklin {
    color: #0a132e !important;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}


.shapeA {
    width: 200px;
    height: 256px;
}

.shapeB {
    width: 155px;
    height: 166px;
    transform: translateX(80px);
}

.shapeC {
    width: 156px;
    height: 166px;
}

.leafShape {
    width: 289px;
    height: 209px;
    transform: translateY(80px);
}



@media (max-width: 1200px) {
    .mainBox {
        padding: 80px 40px;
    }

    .p {
        max-width: 650px;
        font-size: 20px;
    }

}


@media(max-width:1354px) {

    .shapeA,
    .shapeB,
    .shapeC,
    .leafShape {
        display: none;

    }
}

@media (max-width: 1500px) {

    .left {
        display: flex;
        flex-direction: column;
        gap: 300px;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 250px;
    }

    .shapeA {
        width: 150px !important;
        height: 156px !important;
    }

    .shapeB {
        width: 155px !important;
        height: 166px !important;
        transform: translateX(80px);
    }

    .shapeC {
        width: 156px;
        height: 166px;
    }

    .leafShape {
        width: 89px;
        height: 109px;
        transform: translateY(16px);
    }

}

@media (max-width: 1440px) {

    .left {
        display: flex;
        flex-direction: column;
        gap: 300px;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 290px;
    }

    .shapeA {
        width: 140px !important;
        height: 146px !important;
    }

    .shapeB {
        width: 145px !important;
        height: 156px !important;
        transform: translateX(80px);
    }

    .shapeC {
        width: 146px;
        height: 190px;
        
    }

    .leafShape {
        width: 79px;
        height: 99px;
        transform: translateY(16px);
    }

}

/* Tablets */
@media (max-width: 900px) {
    .mainBox {
        padding: 60px 30px;
        gap: 30px;
    }

    .left,
    .right {
        display: none;
    }

    .middle {
        max-width: 100%;
        padding: 30px 10px;
    }

    .p {
        font-size: 18px;
        line-height: 1.7;
        max-width: 600px;
    }

    .juklin {
        font-size: 20px;
    }

}

/* Mobile */
@media (max-width: 600px) {
    .mainBox {
        padding: 50px 20px;
    }

    .p {
        font-size: 16px;
        padding: 6px;
        line-height: 1.6;
        max-width: 100%;
    }

    .juklin {
        font-size: 18px;
    }

    .middle {
        padding: 20px 5px;
        gap: 10px;
        background-size: 100% auto;
    }
}

/* Extra Small Mobile */
@media (max-width: 380px) {
    .p {
        font-size: 15px;
    }

    .juklin {
        font-size: 16px;
    }
}

