.card {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.bookNowBtn {
  background: linear-gradient(135deg, #cfb838 0%, #f5c542 100%) !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 25px !important;
  text-transform: none !important;
  padding: 8px 24px !important;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
  transition: all 0.3s ease !important;
}

.bookNowBtn:hover {
  background: linear-gradient(135deg, #c1995c 0%, #ffb300 100%) !important;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3) !important;
  transform: scale(1.05) !important;
}