  .card {
      min-width: 300px;
      max-width: 450px !important;
  }

  @media (min-width:1856px) and (max-width:2000) {
      .allCardBox {
          gap: 80 !important;
      }

      .card {
          min-width: 300px;
          max-width: 450px !important;
      }
  }

  @media (max-width:1856px) {
      .allCardBox {
          gap: 120px !important;
      }

      .card {
          min-width: 300px;
          max-width: 400px !important;
      }

  }


  @media (max-width:1735px) {
      .allCardBox {
          gap: 80px !important;
      }

      .card {
          min-width: 300px;
          max-width: 400px !important;
      }

  }

  @media (max-width:1665px) {
      .allCardBox {
          gap: 80px !important;
      }

      .card {
          min-width: 290px !important;
          max-width: 370px !important;
      }

  }

  @media (max-width:1573px) {
      .allCardBox {
          gap: 100px !important;
      }

      .card {
          min-width: 200px !important;
          max-width: 320px !important;
      }

  }

  @media (max-width:1460px) {
      .allCardBox {
          gap: 90px !important;
      }

      .card {
          min-width: 300px !important;
          max-width: 420px !important;
      }

  }

  @media (min-width:1357) and (max-width:1460px) {
      .allCardBox {
          gap: 90px !important;
      }

      .card {
          min-width: 320px !important;
          max-width: 400px !important;
      }

  }

  @media (max-width:1357px) {
      .allCardBox {
          gap: 70px !important;
      }

      .card {
          min-width: 300px !important;
          max-width: 400px !important;
      }

  }


  @media (max-width:1270px) {
      .allCardBox {
          gap: 25px !important;
      }

      .card {
          min-width: 300px !important;
          max-width: 390px !important;
      }

  }

  @media (max-width:1240px) {
      .allCardBox {
          gap: 15px !important;
      }

      .card {
          min-width: 200px !important;
          max-width: 280px !important;
      }

  }

  @media (max-width:1156px) {
      .allCardBox {
          gap: 25px !important;
      }

      .card {
          min-width: 200px !important;
          max-width: 30% !important;
      }

  }
   @media (max-width:1020px) {
      .allCardBox {
        flex-direction: column ;
          gap: 20px !important;
      }

      .card {
          min-width: 200px !important;
          max-width: 100% !important;
      }

  }

  @media(max-width:600px) {
      .allBookings {
          font-size: 35px !important;
      }
  }


  @media (max-width: 768px) {
      .allCardBox {
          padding-left: 24px !important;
          padding-right: 24px !important
      }

  }

